name: CI/CD to EC2 with Docker

on:
    push:
        branches: ["main"]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v5
              with:
                context: ./nest-shopping
                file: ./nest-shopping/Dockerfile
                push: true
                tags: ${{ secrets.DOCKERHUB_USERNAME }}/nest-shopping:latest

            - name: Debug SSH key length
              run: |
                echo "KEY LENGTH:"
                echo "${{ secrets.EC2_SSH_KEY }}" | wc -c

            - name: Deploy to EC2
              uses: appleboy/ssh-action@v1.2.0
              with:
                host: ${{ secrets.EC2_HOST }}
                username: ${{ secrets.EC2_USER }}
                key: ${{ secrets.EC2_SSH_KEY }}
                port: 22
                script: |
                  cd /home/ubuntu/nest-shopping
                  docker-compose pull
                  docker-compose up -d